@font-face {
  font-family: 'gt-walsheim-bold';
  src: url("fonts/GTWalsheim-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GTWalsheim-Bold.woff") format("woff"), url("fonts/GTWalsheim-Bold.ttf") format("truetype"), url("fonts/GTWalsheim-Bold.svg#fonts/GTWalsheim-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gt-walsheim';
  src: url("fonts/GTWalsheim.eot?#iefix") format("embedded-opentype"), url("fonts/GTWalsheim.woff") format("woff"), url("fonts/GTWalsheim.ttf") format("truetype"), url("fonts/GTWalsheim.svg#fonts/GTWalsheim") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clarendon-Bold';
  src: url("fonts/ClarendonBT-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ClarendonBT-Bold.woff") format("woff"), url("fonts/ClarendonBT-Bold.ttf") format("truetype"), url("fonts/ClarendonBT-Bold.svg#ClarendonBT-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
