@font-face {
  font-family: 'gt-walsheim-bold';
  src: url("fonts/GTWalsheim-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GTWalsheim-Bold.woff") format("woff"), url("fonts/GTWalsheim-Bold.ttf") format("truetype"), url("fonts/GTWalsheim-Bold.svg#fonts/GTWalsheim-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gt-walsheim';
  src: url("fonts/GTWalsheim.eot?#iefix") format("embedded-opentype"), url("fonts/GTWalsheim.woff") format("woff"), url("fonts/GTWalsheim.ttf") format("truetype"), url("fonts/GTWalsheim.svg#fonts/GTWalsheim") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clarendon-Bold';
  src: url("fonts/ClarendonBT-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ClarendonBT-Bold.woff") format("woff"), url("fonts/ClarendonBT-Bold.ttf") format("truetype"), url("fonts/ClarendonBT-Bold.svg#ClarendonBT-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 5, sass/style.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}

/* line 13, sass/style.scss */
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 17, sass/style.scss */
#wrapper #title {
  position: absolute;
  left: 35px;
  top: 20px;
  padding: 0 5px;
  z-index: 1000;
  color: #000;
  font-family: 'Clarendon-Bold';
  font-size: 42px;
}
/* line 31, sass/style.scss */
#wrapper #nav {
  position: absolute;
  left: 320px;
  top: 35px;
  display: block;
  z-index: 1000;
}
/* line 40, sass/style.scss */
#wrapper #nav .tag {
  font-family: 'gt-walsheim';
  display: inline-block;
  font-size: 16px;
  margin: 0px !important;
  padding: 3px 5px;
  background-color: #66d8e0;
  color: #000;
}
/* line 49, sass/style.scss */
#wrapper #nav .tag:hover {
  cursor: pointer;
  color: #66d8e0;
  background-color: #000;
}
/* line 55, sass/style.scss */
#wrapper #nav .tag.open {
  color: #66d8e0;
  background-color: #000;
}
/* line 61, sass/style.scss */
#wrapper #bk {
  position: absolute;
  z-index: 1001;
  right: 25px;
  bottom: 15px;
  padding: 0 5px;
  color: #66d8e0;
  font-family: 'Clarendon-Bold';
  font-size: 18px;
}

/*|||*** POSTS ***|||*/
/* line 77, sass/style.scss */
div[bouncy="ball"] {
  position: absolute;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

/* line 83, sass/style.scss */
#catalog {
  position: absolute;
  display: none;
  overflow: scroll;
  width: Calc(100% - 70px);
  height: Calc(100% - 85px);
  left: 35px;
  top: 85px;
  border-top: 5px solid #66d8e0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
/* line 100, sass/style.scss */
#catalog .project {
  width: 100%;
  height: Calc(100%);
  display: block;
}
/* line 106, sass/style.scss */
#catalog .project .title {
  margin-top: 65px;
  margin-left: 30px;
  padding: 2px 0px;
  position: absolute;
  font-family: 'Clarendon-Bold';
  font-size: 21px;
  color: #F79532;
  z-index: 2;
}
/* line 116, sass/style.scss */
#catalog .project .gallery {
  float: left;
  position: absolute;
  left: Calc(35% + 30px);
  width: 60%;
  max-height: 100%;
}
/* line 124, sass/style.scss */
#catalog .project .gallery .gallery-item {
  position: relative;
  width: 100%;
  height: 90%;
  display: none;
}
/* line 129, sass/style.scss */
#catalog .project .gallery .gallery-item .gallery-icon {
  height: 100%;
  text-align: center;
}
/* line 132, sass/style.scss */
#catalog .project .gallery .gallery-item .gallery-icon img {
  display: inline-block;
}
/* line 138, sass/style.scss */
#catalog .project .gallery .gallery-item .gallery-icon.landscape img {
  margin: 0 auto;
  height: 80%;
  width: auto;
  margin-top: 10%;
}
/* line 146, sass/style.scss */
#catalog .project .gallery .gallery-item .gallery-icon.portrait img {
  margin: 0 auto;
  height: 90%;
  width: auto;
}
/* line 153, sass/style.scss */
#catalog .project .gallery .show {
  display: block;
}
/* line 157, sass/style.scss */
#catalog .project p {
  width: Calc(30% - 30px);
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 60%;
  float: left;
  font-family: 'gt-walsheim';
  font-size: 14px;
  z-index: 2;
}
/* line 167, sass/style.scss */
#catalog .project .info {
  width: Calc(30% - 30px);
  margin-right: 60%;
  float: left;
  font-family: 'gt-walsheim';
  font-size: 14px;
  z-index: 2;
}
/* line 174, sass/style.scss */
#catalog .project .info div, #catalog .project .info a {
  width: 100%;
  font-family: 'Clarendon-Bold';
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 5px 0 0 0;
  border-top: 2px solid #000;
  color: #F79532;
  display: inline-block;
}
/* line 186, sass/style.scss */
#catalog .project .info p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 194, sass/style.scss */
#catalog .project:nth-of-type(1) {
  margin-top: 0;
}
/* line 197, sass/style.scss */
#catalog .project:last-of-type {
  margin-bottom: 30px;
}
/* line 200, sass/style.scss */
#catalog .clear {
  clear: both;
}

/* line 205, sass/style.scss */
.slider-controls {
  float: left;
  position: absolute;
  left: Calc(35% + 30px);
  width: 60%;
  height: 100%;
  max-height: 90%;
  opacity: 0;
}
/* line 213, sass/style.scss */
.slider-controls .left {
  position: absolute;
  font-family: 'gt-walsheim-bold';
  font-size: 48px;
  top: 50%;
  left: 20;
  cursor: pointer;
  color: #000;
}
/* line 222, sass/style.scss */
.slider-controls .right {
  position: absolute;
  font-family: 'gt-walsheim-bold';
  font-size: 48px;
  top: 50%;
  right: 20;
  cursor: pointer;
  color: #000;
}

/* line 233, sass/style.scss */
.slider-controls:hover {
  opacity: 1;
}

/* line 237, sass/style.scss */
.close {
  display: none;
  position: fixed;
  right: 50;
  top: 100;
  padding: 0 10px;
  font-family: 'gt-walsheim-bold';
  font-size: 36px;
  cursor: pointer;
  color: #000;
  z-index: 1001;
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -webkit-transform: rotate(-30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
}

/* line 254, sass/style.scss */
#catalog::-webkit-scrollbar {
  width: 7px;
  height: 50px;
  margin-right: 3px;
}

/* line 259, sass/style.scss */
#catalog::-webkit-scrollbar-thumb:vertical {
  background-color: #66d8e0;
  border: 1px solid #66d8e0;
  border-radius: 12px;
}
